*
!libarchive
!unarr
!shimejifinder/
!shimejifinder/libarchive/
!shimejifinder/libarchive/*.cc
!shimejifinder/libarchive/*.hpp
!shimejifinder/libunarr/
!shimejifinder/libunarr/*.cc
!shimejifinder/libunarr/*.hpp
!shimejifinder/libunarr/*.c
!shimejifinder/libunarr/*.h
!shimejifinder/*.cc
!shimejifinder/*.hpp
shimejifinder/default_actions.cc
shimejifinder/default_behaviors.cc
!.gitignore
!.gitmodules
!bin2cpp.sh
!default_actions.xml
!default_behaviors.xml
!CMakeLists.txt
!main.cc