*
!libarchive
!unarr
!shimejifinder/
!shimejifinder/libarchive/
!shimejifinder/libarchive/*.cc
!shimejifinder/libarchive/*.hpp
!shimejifinder/libunarr/
!shimejifinder/libunarr/*.cc
!shimejifinder/libunarr/*.hpp
!shimejifinder/libunarr/*.c
!shimejifinder/libunarr/*.h
!shimejifinder/*.cc
!shimejifinder/*.hpp
!.gitignore
!.gitmodules
!CMakeLists.txt
!main.cc